APP_NAME="Workouts"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://YOUR_DROPLET_IP
APP_KEY=

LOG_CHANNEL=stderr

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=workouts
DB_USERNAME=workouts
DB_PASSWORD=
DB_ROOT_PASSWORD=

IMAGE_NAME=YOUR_DOCKERHUB_USER/workouts
IMAGE_TAG=prod-YYYYMMDDHHMM
PHP_FPM_UPSTREAM=127.0.0.1:9000
